@model ComicBookGalery.Models.ComicBook[];
@{
    ViewData["Title"] = "Comic Books";
}

<h2>@ViewBag.Title</h2>
<div class="row">
    @foreach (var book in Model)
    {
        <div class="col-md-3">
            <h4>@Html.ActionLink(@book.DisplayText, "Detail", book)</h4>
            <a href="@Url.Action("Detail", book)">
                <img src="@book.CoverImageFileName"
                     alt="@book.DisplayText"
                     class="img-fluid" />
            </a>
        </div>
    }
</div>

